/* 
    Created on : 4 juin 2015, 15:34:36
    Author     : $oDy
*/

.inputText1{
    width: 20%;
}

.inputText2{
    width: 30%;
}

.inputText3{
    width: 40%;
}

.inputText4{
    width: 60%;
}

.inputText5{

    width: 100%;
}


@media (max-device-height:960px) {
    .hRow{
        min-height: 300px;        
    }    
}

@media (min-device-height:961px) {
    .hRow{
        min-height: 400px;
    }   
}

.height10{
    height: 10px;
}
.height20{
    height: 20px;
}
.height30{
    height: 30px;
}
.height40{
    height: 40px;
}
.height40{
    height: 40px;
}
.height50{
    height: 50px;
}
.height200{
    height: 200px;
}
